{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid text-bg-info shadow p-3 mb-5 rounded">
    <h1><small class="text-dark">ProblemSet</small></h1>
    <div class="text-bg-warning p-2 mb-3 rounded">  
    <table class="table table-striped table-hover table-bordered=borderless caption-top rounded" >
        <thead>
            <tr>
                <th scope="col">Problem ID</th>
                <th scope="col">Problem Title</th>
            </tr>
        </thead>
        <tbody>
            {% for id in ProblemIDs %}
            <tr>
                <th scope="row">{{id}}</td>
                <td><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="/problem/{{id}}">{{ProblemTitles[loop.index0]}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}