{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Problem ID</th>
                <th>Problem Title</th>
            </tr>
        </thead>
        <tbody>
            {% for id in ProblemIDs %}
            <tr>
                <td>{{id}}</td>
                <td><a href="/problem/{{id}}">{{ProblemTitles[loop.index0]}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>

{% endblock %}