{% extends 'base.html' %}

{% block content %}

        <br/><br/>
        <form action="/forget_password" method="POST" class="shadow p-3 mb-5 bg-body rounded">
                {{ form.hidden_tag() }}

                {{ form.email.label(class='form-label') }}
                {{ form.email(class="form-control",placeholder="someone@example.com") }}
                <br/>
                {{ form.send_email(class='btn btn-secondary') }}
        </form>

        {% block extra_newline %}
         <br/><br/><br/><br/><br/>
        {% endblock %}

{% endblock %}