{% extends 'base.html' %}

{% block content %}
        {% for message in get_flashed_messages(with_categories = True) %}
        {% if message|first == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endif %}
        {% endfor %}
        <!-- HEADER -->
        <br/>
            <header class="theme header-padding rounded">
                <div class="text-center">
                    {% if current_user.is_authenticated == false %}
                        <h4>Welcome to</h4>
                        <h1>Online C Program Evaluator</h1>
                    {% else %}
                        <h1>Online C Program Evaluator</h1>
                        <h4>Welcome</h4>
                        <h4>{{current_user.name}}</h4>
                    {% endif %}
                </div>
            </header>

        <!-- OPTIONS -->

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body-tertiary rounded">
                <img src="/static/assets/image1.jpg" class="card-img-top img-thumbnail" alt="Contestant">
                <div class="card-body">
                  <h5 class="card-title"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="/contestant">Contestant</a></h5>
                  <p class="card-text">Upsolve Problems to reinforce your Coding skills</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body-tertiary rounded">
                <img src="/static/assets/image2.jpg" class="card-img-top img-thumbnail" alt="Judge">
                <div class="card-body">
                  <h5 class="card-title"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="/judge">Judge</a></h5>
                  <p class="card-text">Post Problems for others to solve using our Online IDE</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 shadow p-3 mb-5 bg-body-tertiary rounded">
                <img src="/static/assets/image3.jpg" class="card-img-top img-thumbnail" alt="CodeSpace">
                <div class="card-body">
                  <h5 class="card-title"><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="/onlineIDE">Online IDE</a></h5>
                  <p class="card-text">Use our Online IDE to run youe C program</p>
                </div>
              </div>
            </div>
          </div>
{% endblock %}
