<link rel="stylesheet" href="{{ url_for('static',filename='/CSS/style-navbar.css')}}">

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Project ZetaX</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

      <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link pill" href="{{ url_for('home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pill" href="{{ url_for('online_coding')}}">Online IDE</a>
          </li>
          {% if current_user.is_authenticated %}
            {% if current_user.type == 'Judge' or current_user.type == 'Admin' %}
              <li class="nav-item">
                <a class="nav-link pill" href="/show_judge_problems/{{current_user.id}}">Problems</a>
              </li>
            {% endif %}
            {% if current_user.type == 'Contestant' or current_user.type == 'Admin' %}
                <li class="nav-item">
                  <a class="nav-link pill" href="/get_submissions/{{current_user.id}}">Submissions</a>
                </li>
            {% endif %}
          {% endif %}
      </ul>
    </div>
        
        {% if current_user.is_authenticated %}
            {% if current_user.is_confirmed == False %}
              <div class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link pill" href="/inactive">Activate account</a>
                </li>
              </div>
            {% endif %}
            {% if current_user.type == "Admin" %}
              <div class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link pill" href="/admin">Admin</a>
                </li>
              </div>
            {% endif %}
            {% if current_user.type != 'Admin' %}
            <div class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link pill" href="/view_info/{{ current_user.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                </a>
              </li>
            </div>
            {% endif %}
          <div class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link pill" href="{{ url_for('logout')}}">Log Out</a>
            </li>
          </div>
        {% else %}
          <div class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link pill" href="{{ url_for('signin')}}">Sign in</a>
            </li>

            <li class="nav-item">
              <a class="nav-link pill" href="{{ url_for('signup')}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                  <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                </svg> Sign Up
              </a>
            </li>
          </div>
        {% endif %}
  </div>
</nav>
