{% extends 'base.html' %}

{% block content %}

    <!-- HEADER -->
    <header class="theme header-layout rounded" style="height: 100px;margin-top: 10px;margin-bottom: 10px;">
        <div class="text-center" style="padding-top: 13px;padding-bottom: 10px;">
        <h1>Online IDE</h1>
        </div>
    </header>

    <div class="editor rounded">
        <div class="editor__wrapper rounded ">

            <div class="editor__body rounded">
                <div id="editorCode" class="editor__code"></div>
            </div>

            <div class="editor__footer rounded">
                <div class="editor__footer--left rounded">
                    <button class="btn btn-secondary" id="editor__run">Run ></button>
                    <button class="btn btn-secondary" id="editor__reset">Reset ></button>
                </div>
                <div class="editor__footer--right rounded">
                    <div class="nav nav-pills nav-justified">
                        <button id = "input_tab" class = "btn btn-secondary m-3 b-2" type="button" >INPUT</button>
                        <button id = "output_tab" class = "btn btn-secondary m-3 b-2" type="button">OUTPUT</button>
                    </div>
                </div>
            </div>

            <div class="editor__console rounded">
                <textarea id = "input_textarea" class="editor__console-logs rounded"></textarea>
                <textarea id = "output_textarea" disabled = "disabled" class="editor__console-logs hidden rounded"></textarea>
            </div>

        </div>
    </div>

{% endblock %}