{% extends 'base.html' %}

{% block content %}

    <!-- HEADER -->
    <header class="theme header-layout rounded" style="height: 100px;margin-top: 10px;margin-bottom: 10px;">
        <div class="text-center" style="padding-top: 13px;padding-bottom: 10px;">
        <h1>Online IDE</h1>
        </div>
    </header>

    <div class="editor rounded">
        <div class="editor__wrapper rounded ">

            <div class="editor__body rounded">
                <div id="editorCode" class="editor__code"></div>
            </div>

            <div class="editor__footer rounded">
                <div class="editor__footer--left rounded">
                    <button class="btn btn-secondary" id="editor__run">
                        Run<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                            <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                          </svg>
                    </button>
                    <button class="btn btn-secondary" id="editor__reset">
                        Reset&#160<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bootstrap-reboot" viewBox="0 0 16 16">
                            <path d="M1.161 8a6.84 6.84 0 1 0 6.842-6.84.58.58 0 1 1 0-1.16 8 8 0 1 1-6.556 3.412l-.663-.577a.58.58 0 0 1 .227-.997l2.52-.69a.58.58 0 0 1 .728.633l-.332 2.592a.58.58 0 0 1-.956.364l-.643-.56A6.8 6.8 0 0 0 1.16 8z"/>
                            <path d="M6.641 11.671V8.843h1.57l1.498 2.828h1.314L9.377 8.665c.897-.3 1.427-1.106 1.427-2.1 0-1.37-.943-2.246-2.456-2.246H5.5v7.352zm0-3.75V5.277h1.57c.881 0 1.416.499 1.416 1.32 0 .84-.504 1.324-1.386 1.324z"/>
                          </svg>
                    </button>
                </div>
                <div class="editor__footer--right rounded">
                    <div class="nav nav-pills nav-justified">
                        <button id = "input_tab" class = "btn btn-secondary m-3 b-2" type="button" >INPUT</button>
                        <button id = "output_tab" class = "btn btn-secondary m-3 b-2" type="button">OUTPUT</button>
                    </div>
                </div>
            </div>

            <div class="editor__console rounded">
                <textarea id = "input_textarea" class="editor__console-logs rounded"></textarea>
                <textarea id = "output_textarea" disabled = "disabled" class="editor__console-logs hidden rounded"></textarea>
            </div>
            <br>
            <form>
                <p>Select file to upload : 
                    <input type="file" name="fileToUpload" id="fileToUpload" accept=" .c ">
                </p>
                <button class="btn btn-secondary" id="file_load" type="button">
                    Upload To Editor&#160<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                        <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    

{% endblock %}