{% extends 'base.html' %}

{% block content %}
        {% for message in get_flashed_messages(with_categories = True) %}
                {% if message|first == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message[1] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message[1] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                {% endif %}
        {% endfor %}
<br>
<div class="container-fluid bg-body-tertiary border border-info shadow p-3 mb-5 rounded">
    <div class="container-fluid p-2 mb-3 rounded">
        <h2 class="text-center"><p class=" text-primary-emphasis fw-bolder">{{Problem_Parameters[1]}}</p></h2>
    </div>
    <h4 class="text-center"><small class="text-primary-emphasis">Expected Time : {{Problem_Parameters[5]}} seconds</small></h4>
    <h4 class="text-center"><small class="text-primary-emphasis">Expected Space : {{Problem_Parameters[6]}} MB</small></h4>
    <br>
    <div class="container-fluid p-2 mb-3 rounded">
        <h4 class="h4 text-center"><p class="text-primary">Problem Statement</p></h4>
        {% for text in Problem_Parameters[2] %}
            {%- if text == '\n' -%}
                <br/>
            {%- else -%}
                {{text}}
            {%- endif -%}
        {% endfor %}
        </br>
    </br>
        <h5>Sample Input</h5>
        <p>{{Problem_Parameters[3]}}</p>
        <h5>Sample Output</h5>
        <p>{{Problem_Parameters[4]}}</p>
    </div>

    <div>
        <h4>Online IDE</h4>
        <div class="editor">
            <div class="editor__wrapper rounded ">
    
                <div class="editor__body">
                    <div id="editorCode" class="editor__code"></div>
                </div>
    
                <div class="editor__footer">
                    <div class="editor__footer--left">
                        <button class="editor__btn editor__run">Run ></button>
                        <button class="editor__btn editor__reset">Reset ></button>
                    </div>
                    <div class="editor__footer--right">
                        <div class="tabs">
                            <button id = "input_tab" class = "input_tab highlight_btn">INPUT</button>
                            <button id = "output_tab" class = "output_tab">OUTPUT</button>
                        </div>
                    </div>
                </div>
    
                <div class="editor__console">
                    <textarea id = "input_textarea" class="editor__console-logs"></textarea>
                    <textarea id = "output_textarea" disabled = "disabled" class="editor__console-logs hidden"></textarea>
                </div>
    
            </div>
        </div>
    </div>

    <form action="/problem/{{Problem_Parameters[0]}}"  method="POST">
        <button class="btn btn-secondary" style="margin-left: 70px;margin-top: 20px;">Submit</button>
    </form>
</div>
{% endblock %}