{% extends 'base.html' %}

{% block content %}
        {% for message in get_flashed_messages(with_categories = True) %}
                {% if message|first == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message[1] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                {% else %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message[1] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                {% endif %}
        {% endfor %}

<br>
<div class="container-fluid bg-body-tertiary border border-info shadow p-3 mb-5 rounded">
    <div class="container-fluid p-2 mb-3 rounded">
        <h2 class="text-center"><p class=" text-primary-emphasis fw-bolder">{{Problem_Parameters[1]}}</p></h2>
    </div>
    <h4 class="text-center"><small class="text-primary-emphasis"><b>Expected Time </b> {{Problem_Parameters[5]}} seconds</small></h4>
    <h4 class="text-center"><small class="text-primary-emphasis"><b>Expected Space </b>: {{Problem_Parameters[6]}} KB</small></h4>
    <br>
    <div class="container-fluid p-2 mb-3 rounded" class="math-inline">
        <h4 class="h4 text-center"><p class="text-primary">Problem Statement</p></h4>
        {% for text in Problem_Parameters[2] %}
            {%- if text == '\n' -%}
                <br/>
            {%- else -%}
                {{ text }}  
            {%- endif -%}
        {% endfor %}
        </br>
    </br>
        <h5>Sample Input</h5>
        <p>{{Problem_Parameters[3]}}</p>
        <h5>Sample Output</h5>
        <p>{{Problem_Parameters[4]}}</p>
    </div>

    <div>
        <h4>Online IDE</h4>
        <div class="editor rounded">
            <div class="editor__wrapper rounded ">
    
                <div class="editor__body rounded">
                    <div id="editorCode" class="editor__code"></div>
                </div>
    
                <div class="editor__footer rounded">
                    <div class="editor__footer--left rounded">
                        <button class="btn btn-secondary" id="editor__run">Run ></button>
                        <button class="btn btn-secondary" id="editor__reset">Reset ></button>
                    </div>
                    <div class="editor__footer--right rounded">
                        <div class="nav nav-pills nav-justified">
                            <button id = "input_tab" class = "btn btn-secondary m-3 b-2" type="button" >INPUT</button>
                            <button id = "output_tab" class = "btn btn-secondary m-3 b-2" type="button">OUTPUT</button>
                        </div>
                    </div>
                </div>
    
                <div class="editor__console rounded">
                    <textarea id = "input_textarea" class="editor__console-logs rounded"></textarea>
                    <textarea id = "output_textarea" disabled = "disabled" class="editor__console-logs hidden rounded"></textarea>
                </div>
                
                <br>
                <p class="fs-2 text-center">OR</p>
                <p class="text-center">
                    Select file to submit:&#160&#160&#160&#160&#160&#160&#160
                    <input type="file" name="fileUpload" id="fileUpload" accept=" .c ">&#160&#160&#160
                </p>        
            </div>
    </div>

    <div style="display: inline-block;">
        <button id="submit_tab" class="btn btn-secondary" style="margin-left: 70px;margin-top: 20px;">Submit</button>
        <a class="nav-link" href="/feedback/{{ Problem_Parameters[0] }}" style="margin-left:15px;margin-top: 20px;" class="link-primary">Report an Issue</a>
    </div>

</div>
    <div id="problem_id" myid="{{ Problem_Parameters[0] }}"></div>
{% endblock %}