{% extends 'base.html' %}

{% block content %}

        {% for message in get_flashed_messages(with_categories = True) %}
        {% if message|first == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% endif %}
        {% endfor %}

        {% if form.errors %}
                {% if form.errors|first == "email" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ form.errors.email|first }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                {% endif %}
        {% endif %}

        <br/><br/>
        <form action="/signin" method="POST" class="shadow p-3 mb-5 bg-body rounded">
                <legend>Sign In</legend>

                {{ form.hidden_tag() }}

                {{ form.email.label(class='form-label') }}
                {{ form.email(class="form-control",placeholder="someone@example.com") }}
                <br/>

                {{ form.password.label(class='form-label') }}
                {{ form.password(class='form-control') }}
                <br/>
                {{ form.remember_me.label(class='form-label') }}
                {{ form.remember_me() }}
                <br/>
                
                {% if current_user.is_authenticated %}
                        <!-- <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a> -->
                {% else %}
                {{ form.submit(class="btn btn-secondary")}}
                {% endif %}

        </form>

{% endblock %}