{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages(with_categories = True) %}
        {% if message|first == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% elif message|first == "Accepted" or message|first == "message" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% elif message|first == "Wrong Answer" or message|first == "Time Limit Exceeded" or message|first == "Memory Limit Exceeded" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message[1] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
        {% elif message|first == "Compilation Error" %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message[1] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
    {% endfor %}
    
    <br/>
    <div class="container-fluid bg-body-tertiary border border-info shadow p-3 mb-5 rounded">
        <h1>Submissions</h1>
        <br/>
        {% for submission in submissions|reverse %}
            {% for problem in problems %}
                {% if problem.id == submission.problem_id %}
                    <div  class="shadow p-3 mb-5 bg-body rounded">
                        <h4>{{ problem.title }}</h4><br/>
                        {% if submission.status == "Accepted" %}
                            <img src="{{ url_for('static',filename='assets/right.jpg')}}">
                            <p style="color: green;">Accepted</p>
                            <br/>
                            <p><b style="font-size: 18px;">Time Taken:</b> {{ "%.2f"|format(submission.time_taken|float) }} milliseconds</p>
                            <p><b style="font-size: 18px;">Memory Taken:</b> {{ "%.2f"|format(submission.memory_taken|float) }} kilobytes</p>
                        {% elif submission.status == "Wrong Answer" %}
                            <img src="{{ url_for('static',filename='assets/wrong.png')}}">
                            <p style="color: red;">Wrong Answer</p>
                            <br/>
                            <p><b style="font-size: 18px;">Time Taken:</b> {{ "%.2f"|format(submission.time_taken|float) }} milliseconds</p>
                            <p><b style="font-size: 18px;">Memory Taken:</b> {{ "%.2f"|format(submission.memory_taken|float) }} kilobytes</p>
                        {% elif submission.status == "Time Limit Exceeded" %}
                            <img src="{{ url_for('static',filename='assets/wrong.png')}}">
                            <p style="color: red;">Time Limit Exceeded</p>
                            <br/>
                            <p><b style="font-size: 18px;">Time Taken:</b> {{ "%.2f"|format(submission.time_taken|float) }} milliseconds</p>
                            <p><b style="font-size: 18px;">Memory Taken:</b> {{ "%.2f"|format(submission.memory_taken|float) }} kilobytes</p>
                        {% elif submission.status == "Memory Limit Exceeded" %}
                            <img src="{{ url_for('static',filename='assets/wrong.png')}}">
                            <p style="color: red;">Memory Limit Exceeded</p>
                            <br/>
                            <p><b style="font-size: 18px;">Time Taken:</b> {{ "%.2f"|format(submission.time_taken|float) }} milliseconds</p>
                            <p><b style="font-size: 18px;">Memory Taken:</b> {{ "%.2f"|format(submission.memory_taken|float) }} kilobytes</p>
                        {% else %}
                            <img src="{{ url_for('static',filename='assets/compilation_error.jpg')}}">
                            <p style="color: yellow;">{{ submission.status }}</p>
                            <br/>
                            <p><b style="font-size: 18px;">Time Taken:</b> {{ "%.2f"|format(submission.time_taken|float) }} milliseconds</p>
                            <p><b style="font-size: 18px;">Memory Taken:</b> {{ "%.2f"|format(submission.memory_taken|float) }} kilobytes</p>
                            <pre><b style="font-size: 18px;">Compiler ouput :</b> <br/>{{ submission.compile_output }}</pre>
                        {% endif %}
                        <br/>
                        <pre id="user_code" class="prettyprint">{{ submission.user_code }}</pre>
                        <a href="/delete_submission/{{submission.id}}" class="btn btn-secondary">Delete</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}        
    </div>
{% endblock %}