#admin-navbar-collapse
{
    border-radius: 10px;
    width: 100%;
    padding:0px;
    font-size: 0px !important;
    margin: 0px;
    height: 0px !important;
}

.mb-2
{
    visibility: hidden;
}

.navbar
{
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-tabs
{
    margin-top: 10px;
}

.nav-link:hover
{
    background: #ffffff;
}

.pill:hover
{
    background: #007bff;
    color: aliceblue;
}

body
{
    background-color: #ced4da !important;
}

.table-responsive
{
    border-radius: 5px;
}

div > div > table > thead > tr > th > a
{
    color: black !important;
}

.container
{
    margin-top: 10px;
    padding: 10px;
    background-color: #c7dbf2;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #b8b8b8;
}

footer > section > div.container
{
    background-color:rgba(43,48,53,1);
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
}

a
{
    font-size: 18px;
}