.text-center
{
    text-align: center;
}

.theme
{
    color:#fff;
    background-color: #000000;
}

.header-padding
{
    padding: 10px 10px;
}

.footer-theme
{
    color:#fff;
    margin-top:50px;
    margin-bottom: 10px;
    padding:10px;
    height: 100px;
    background-color: #000000;
}

.card-img-top {
    width: 70%;
    height: 12vw;
    margin: auto;
    margin-top: 10px;
    border-color: #545353;  
    object-fit: scale-down;
}

h1
{
    font-size: 48px;
}

h4
{
    font-size: 20px;
}

.form-button
{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 10px;
}

a
{
    font-size: 18px;
    color: #000000;
}

.row
{
    text-align: center;
    padding-top: 50px;
    padding-left: 5px;
}