<!DOCTYPE html>

<html>
    <head>
        <title>Project ZetaX</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='CSS/style-home.css')}}">
        <link href="{{ url_for('static',filename='assets/image1.jpg')}}">
        <link href="{{ url_for('static',filename='assets/image2.jpg')}}">
        <link href="{{ url_for('static',filename='assets/image3.jpg')}}">
    </head>
    <body>

        <!-- HEADER -->
        <header class="theme header-padding">
            <div class="text-center">
                {% if user == None %}
                    <h4>Welcome to</h4>
                    <h1>Online C Programme Evaluator</h1>
                    <form action="/templates/signin.html" method="GET">
                        <input type="submit" value="Sign In" class="form-button">
                    </form>
                    <form action="/templates/signup.html" method="GET">
                        <input type="submit" value="Sign Up" class="form-button">
                    </form>
                {% else %}
                    <h1>Online C Programme Evaluator</h1>
                    <h4>Welcome</h4>
                    <h4>{{user.name}}</h4>
                    <form action='/'>
                        <input type="submit" value="Log Out" name="logout">
                    </form>
                {% endif %}
            </div>
        </header>

        <!-- OPTIONS -->
        <div class="row">
            <div class="column">
                <h3>Contestants</h3><br>
                <img src="/static/assets/image1.jpg" alt="Contestant">
                <br>  
                <a href="/templates/contestant.html">Solve Problems</a>
            </div>
            <div class="column">
                <h3>Online Judge</h3><br>
                <img src="/static/assets/image2.jpg" alt="Judge">
                <br>
                <a href="/templates/judge.html">Post Problems</a>
            </div>
            <div class="column">
                <h3>Online IDE</h3><br>
                <img src="/static/assets/image3.jpg" alt="Online IDE">
                <br>
                <a href="/templates/onlineIDE.html">Open Code Editor</a>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer-theme">
            <h3>Project ZetaX</h3>
            <p>prepared by Aashirwad Mishra, K Mohan and Lakshya Agrawal</p>
        </footer>
    </body>
</html>