{% extends 'base.html' %}

{% block content %}

        <br/>
        <!-- HEADER -->
        <header class="theme header-layout rounded" style="height: 100px;">
            <div class="text-center" style="padding-top: 13px;padding-bottom: 10px;">
                <h1>Judge</h1>
            </div>
        </header>

        <!-- OPTIONS -->
        <br/><br/>
        <form action="/judge" method="POST" class="shadow p-3 mb-5 bg-body rounded">
            <fieldset>
                <legend>Problem Details</legend>
                    <div>
                        <p>Problem Title</p>
                        <input text="Problem Title" class="form-control" name="title">
                    </div>
                    <div>
                        <p style="margin-top: 20px;">Problem Desciption</p>
                        <textarea class="form-control" name="description" style="height: 200px;margin-bottom:30px;">Write the Problem Desciption here.</textarea>
                    </div>
                    <div class="form-control" style="margin-top: 20px; margin-bottom: 20px;">
                        <div>
                            <p>Sample Input</p>
                            <textarea class="form-control" name="sample_input" style="height: 100px;">Write Here</textarea>
                        </div>
                        <br/>
                        <div>
                            <p>Sample Output</p>
                            <textarea class="form-control" name="sample_output" style="height: 100px;">Write Here</textarea>
                        </div>
                    </div>
                    <div class="Constraints">
                        <label for="Time" class="form-label">Expected Execution Time</label>
                        <input type="text" name="exp_time" class="form-control">
                        <br>
                        <label for="Space" class="form-label">Expected Memory</label>
                        <input type="text" name="exp_space" class="form-control">
                        <!-- <br>
                        <label for="Testcases">Number of Testcases</label>
                        <input type="text" id="Testcases"> -->
                        <br>
                        <input type="Submit" class="btn btn-secondary">
                    </div>
            </fieldset>
        </form>

        <!-- FOOTER -->
        <footer class="footer-theme rounded">
            <h3>Project ZetaX</h3>
            <p>prepared by Aashirwad Mishra, K Mohan and Lakshya Agrawal</p>
        </footer>

{% endblock %}