{% extends 'base.html' %}

<!DOCTYPE html>

<html>
    <head>
        <title>Project ZetaX</title>
        <link rel="shortcut icon" type = "image/x-icon" href="{{ url_for('static',filename='assets/Icon-for-Webpages.ico')}}">
    </head>
    <body>
        {% block content %}
        <br/><br/><br/>
        <form action="/signup" method="POST" class="shadow p-3 mb-5 bg-body rounded">
            <fieldset>
                <legend>Sign Up</legend>

                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" name="name">

                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email">

                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password">

                <div class="choice">
                    <p>Type of User:</p>
                    
                    <input type="radio" name="selection" id="check">
                    <label style="display: inline;">Contestant</label>

                    <input type="radio" name="selection" id="check">
                    <label style="display: inline;">Judge</label>
                </div>
                <br/>
                <input type="submit" class="btn btn-secondary">
            </fieldset>
        </form>
        {% endblock %}
    </body>
</html>