<!DOCTYPE html>

<html>
    <head>
        <title>Project zetaX</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='CSS/style-judge.css')}}">
        <link rel="shortcut icon" type = "image/x-icon" href="{{ url_for('static',filename='assets/Icon-for-Webpages.ico')}}">
    </head>
    <body>

        <!-- HEADER -->
        <header class="theme header-layout">
            <div class="text-center">
                <h1>Judge</h1>
            </div>
        </header>

        <!-- OPTIONS -->

        <form>
            <fieldset>
                <legend>Problem Details</legend>
                    <div>
                        <p>Problem Title</p>
                        <input text="Problem Title" style="width: 60%;height: 30px;font-size: 20px;">
                    </div>
                    <div>
                        <p>Problem Desciption</p>
                        <textarea style="width: 70%;height: 200px;padding: 5px 5px;">Write the Problem Desciption here.</textarea>
                    </div>
                    <div class="row" style="margin-top: 2%;">
                        <div class = "column" style="margin-left: 25%;">
                            <p>Sample Input</p>
                            <textarea style="height: 150px;width:300px;padding: 5px 5px;">Write Here</textarea>
                        </div>
                        <div class = "column" style="margin-left: 90px;">
                            <p>Sample Output</p>
                            <textarea style="height: 150px;width:300px;padding: 5px 5px;">Write Here</textarea>
                        </div>
                    </div>
                    <div class="Constraints">
                        <label for="Time">Expected Execution Time</label>
                        <input type="text" id="Time">
                        <br>
                        <label for="Space">Expected Memory</label>
                        <input type="text" id="Space">
                        <br>
                        <label for="Testcases">Number of Testcases</label>
                        <input type="text" id="Testcases">
                        <br>
                        <button>Enter</button>
                    </div>
            </fieldset>
        </form>

        <!-- FOOTER -->
        <footer class="footer-theme">
            <h3>Project zetaX</h3>
            <p>prepared by Aashirwad Mishra, K Mohan and Lakshya Agrawal</p>
        </footer>
    </body>
</html>